<a href="https://colab.research.google.com/github/rajutankala4442/Assignment-of-Gcc2025/blob/main/ASSESSMENT_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

# Create instances of the Person class
person1 = Person("Raju", 25)
person2 = Person("Balu", 30)
person3 = Person("Gopi", 35)

# Access attributes of the Person instances
print(person1.name)
print(person1.age)

print(person2.name)
print(person2.age)

print(person3.name)
print(person3.age)

Raju
25
Balu
30
Gopi
35

In [2]:
class Car:
    total_cars = 0

    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        Car.total_cars += 1

    def __del__(self):
        Car.total_cars -= 1
        print(f"A {self.year} {self.make} {self.model} has been destroyed.")

# Create car objects
car1 = Car("Toyota", "Camry", 2020)
car2 = Car("Honda", "Civic", 2018)
car3 = Car("Ford", "Mustang", 2015)

# Print the total number of cars
print(f"Total Cars: {Car.total_cars}")  # Output: Total Cars: 3

# Destroy a car object
del car2  # Output: A 2018 Honda Civic has been destroyed.

# Print the updated total number of cars
print(f"Total Cars: {Car.total_cars}")  # Output: Total Cars: 2

Total Cars: 3
A 2018 Honda Civic has been destroyed.
Total Cars: 2

In [3]:
class Student:
    def __init__(self, student_id, name):
        self.student_id = student_id
        self.name = name
        self.enrolled_courses = []

    def enroll_course(self, course):
        if course not in self.enrolled_courses:
            self.enrolled_courses.append(course)
            print(f"{self.name} enrolled in the course: {course.title}")
        else:
            print(f"{self.name} is already enrolled in the course: {course.title}")

    def drop_course(self, course):
        if course in self.enrolled_courses:
            self.enrolled_courses.remove(course)
            print(f"{self.name} dropped the course: {course.title}")
        else:
            print(f"{self.name} is not enrolled in the course: {course.title}")


class Course:
    def __init__(self, course_id, title):
        self.course_id = course_id
        self.title = title


# Create students
student1 = Student(1, "Alice")
student2 = Student(2, "Bob")

# Create courses
course1 = Course(101, "Mathematics")
course2 = Course(102, "Science")

# Enroll students in courses
student1.enroll_course(course1)  # Output: Alice enrolled in the course: Mathematics
student1.enroll_course(course2)  # Output: Alice enrolled in the course: Science
student2.enroll_course(course1)  # Output: Bob enrolled in the course: Mathematics

student1.enroll_course(course1)

student1.drop_course(course2)


student2.drop_course(course2)

Alice enrolled in the course: Mathematics
Alice enrolled in the course: Science
Bob enrolled in the course: Mathematics
Alice is already enrolled in the course: Mathematics
Alice dropped the course: Science
Bob is not enrolled in the course: Science

In [4]:
class Shape:
    def calculate_area(self):
        pass

    def calculate_perimeter(self):
        pass

    def __lt__(self, other):
        return self.calculate_area() < other.calculate_area()

    def __eq__(self, other):
        return self.calculate_area() == other.calculate_area()


class Rectangle(Shape):
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def calculate_area(self):
        return self.length * self.width

    def calculate_perimeter(self):
        return 2 * (self.length + self.width)


class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def calculate_area(self):
        return 3.14159 * self.radius**2

    def calculate_perimeter(self):
        return 2 * 3.14159 * self.radius


# Create rectangle and circle objects
rectangle1 = Rectangle(4, 5)
rectangle2 = Rectangle(3, 6)
circle1 = Circle(3.5)
circle2 = Circle(2.5)

# Calculate and compare areas
print(rectangle1.calculate_area())  # Output: 20
print(circle1.calculate_area())     # Output: 38.484975

print(rectangle1 < rectangle2)  # Output: False
print(circle1 == circle2)      # Output: False
print(rectangle1 > circle1)    # Output: True

20
38.4844775
False
False
False

In [5]:
class Employee:
    def __init__(self, name, designation):
        self.name = name
        self.designation = designation
        self.additional_attributes = {}

    def add_attribute(self, attribute_name, attribute_value):
        self.additional_attributes[attribute_name] = attribute_value

    def get_attribute(self, attribute_name):
        return self.additional_attributes.get(attribute_name)


# Create an employee object
employee = Employee("John Doe", "Manager")

# Add additional attributes
employee.add_attribute("age", 30)
employee.add_attribute("salary", 50000)

# Retrieve additional attributes
age = employee.get_attribute("age")
salary = employee.get_attribute("salary")

print(age)      # Output: 30
print(salary)   # Output: 50000

30
50000

In [6]:
class Account:
    def __init__(self, account_number, pin, balance):
        self.account_number = account_number
        self.pin = pin
        self.balance = balance

    def check_balance(self):
        return self.balance

    def withdraw(self, amount):
        if self.balance >= amount:
            self.balance -= amount
            return amount
        else:
            return 0

    def deposit(self, amount):
        self.balance += amount
        return amount


class ATM:
    def __init__(self):
        self.accounts = {}

    def add_account(self, account):
        self.accounts[account.account_number] = account

    def authenticate(self, account_number, pin):
        if account_number in self.accounts:
            account = self.accounts[account_number]
            if account.pin == pin:
                return account
        return None

    def balance_inquiry(self, account):
        return account.check_balance()

    def withdraw_cash(self, account, amount):
        if account:
            return account.withdraw(amount)
        return 0

    def deposit_cash(self, account, amount):
        if account:
            return account.deposit(amount)
        return 0


# Create accounts
account1 = Account("123456789", "1234", 1000)
account2 = Account("987654321", "4321", 500)

# Create ATM machine
atm = ATM()

# Add accounts to the ATM machine
atm.add_account(account1)
atm.add_account(account2)

# Simulate ATM operations
account_number = "123456789"
pin = "1234"

# Authenticate account
account = atm.authenticate(account_number, pin)
if account:
    # Balance inquiry
    print("Balance:", atm.balance_inquiry(account))  # Output: Balance: 1000

    # Withdraw cash
    amount_to_withdraw = 500
    withdrawn_amount = atm.withdraw_cash(account, amount_to_withdraw)
    if withdrawn_amount:
        print("Withdrawn amount:", withdrawn_amount)  # Output: Withdrawn amount: 500
        print("Updated balance:", atm.balance_inquiry(account))  # Output: Updated balance: 500
    else:
        print("Insufficient balance.")

    # Deposit cash
    amount_to_deposit = 300
    deposited_amount = atm.deposit_cash(account, amount_to_deposit)
    if deposited_amount:
        print("Deposited amount:", deposited_amount)  # Output: Deposited amount: 300
        print("Updated balance:", atm.balance_inquiry(account))  # Output: Updated balance: 800
else:
    print("Invalid account number or PIN.")

Balance: 1000
Withdrawn amount: 500
Updated balance: 500
Deposited amount: 300
Updated balance: 800